
.modal-background {
  background-color: $modal-background-background-color;
}

.modal-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 2px 4px 112px 15px rgba(38,32,38,1);
}


.modal-card-head,
.modal-card-foot {
  background-color: $darkgray;
}

.modal-card-head {

}

.modal-card-title {

}

.modal-card-foot {

}

.modal-card-body {
  background-color: $modal-card-body-background-color;
}
