.sitebody {
  position: relative;
  top: 52px;
}


.navbar {
  background-color: $darkgray;
  position: fixed;
  width: 100%;
    ul {
      display: inline-flex;
    }
    a {
      color: white;
      text-transform: uppercase;
      font-size: small;
      }
  a:hover {
    color: #9fb5a3;
    font-weight: lighter;
  }
  a.trial-btn:hover {
    color: black;
    font-weight: normal;
    background-color: whitesmoke;
    border-radius: 50px;
    transition-property: transform;
    transition: all 0.5s ease-out;
  }
}

.navhoverclick {
  color: #9fb5a3;
  font-weight: lighter;
}

.logo {
  font-size: 3em;
  color: white;
  font-weight: normal;
}

  @media screen and (max-width: 1080px) {
    .container {
      margin-left: 10px;
      margin-right: 10px;
    }
    nav {
      background-color: $darkgray;
      padding: 0.5rem 0;
      .logo {

      }
    }
    .navbar-menu {
      background-color: $darkgray;
      text-align: center;
    ul {
      display: inline;
    }

      }

    }

