.sitebody {
  position: relative;
  top: 52px;
}
.navbar {
  background-color: $darkgray;
  position: fixed;
  width: 100%;
  ul {
    display: inline-flex;
  }
  a {
    color: white;
    text-transform: uppercase;
    font-size: small;
  }
  }

.navhover {
  a:hover {
    font-size: 1.2em;

  }
}

  @media screen and (max-width: 749px) {
    .navbar-menu {
      background-color: $darkgray;
      padding: 0.5rem 0;
    }
  }
