.sitebody {
  position: relative;
  top: 52px;
}
.navbar {
  background-color: $darkgray;
  position: fixed;
  width: 100%;
    ul {
      display: inline-flex;
    }
    a {
      color: white;
      text-transform: uppercase;
      font-size: small;
      }
  }

#navbarBasicExample {
  display: none;
}
  @media screen and (max-width: 1080px) {
    .container {
      margin-left: 10px;
      margin-right: 10px;
    }
    nav {
      background-color: $darkgray;
      padding: 0.5rem 0;
      .logo {
        margin-bottom: 0px;
        margin-top: 0px;
      }
    }
    .navbar-menu {
      display: block;
      background-color: $darkgray;
      text-align: center;
    ul {
      display: inline;
    }

      }

    }

