.cta-onecol , .cta-twocol {
  margin: 100px auto;
  h3 {
    margin: 20px auto;
    justify-content: center;
  }
  p {
    margin-bottom: 40px;
  }
  img {
    max-height: 65vw;
    width: auto;
  }
}



.price-container {
  background-image: url("https://clearpro.io/images/houston-bg1.png");
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;

}

