//global

.trial-btn {
  background-color: $green;
  padding: 10px 14px;
  border-radius: 2px;
  font-size: small;
}

.learnmore-btn {
  padding:10px 15px;
  background-color: $darkgray;
  color: white;
}

.graybg {
  background-color: $bggray;
}

.logo {
  font-size: 2em;
  color: white;
  margin-bottom: 5px;
  margin-top: 5px;
}




//What is Clear

.whatis {
  text-align: center;
  padding: 30px;
  p {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

p {
  color: $bodytextcolor;
}

//cta


.cta {
  .container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

//security

.security {
  .columns {
    margin: 0px;
  }
  .column {
    padding: 0px;
    margin-bottom: -6px;
  }
  p {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.security-para {
  padding:3em;
}


//how to

.howto-title {
  display: flex;
  justify-content: center;
  margin: 3em;
}

.howto {
  .video {
    margin:1em;
  }
  h4 {
    text-align: center;
    color: $darkgray;
    font-weight: bold;
  }
  }

//modal

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: $darkgray;
  //margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;


  z-index: 60;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  .modal-email {
    padding: 10px;
    width: 30vw;
    height: 45px;
    margin-top: 40px;
  }
}

.submitbtn {
  padding: 8px 20px;
  background-color: whitesmoke;
  color: $darkgray;
  margin: 20px 0 40px 0;

}

.modal-text {
  display: inline;
}
