//global

.trial-btn {
  background-color: $green;
  padding: 10px 14px;
  border-radius: 2px;
  font-size: small;
}

.learnmore-btn {
  padding:10px 15px;
  background-color: $darkgray;
  color: white;
}

.graybg {
  background-color: $bggray;
}


//What is Clear

.whatis {
  text-align: center;
  padding: 30px;
  p {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

p {
  color: $bodytextcolor;
}

//cta


.cta {
  .container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

//security

.security {
  .columns {
    margin: 0px;
  }
  .column {
    padding: 0px;
    margin-bottom: -6px;
  }
  p {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.security-para {
  padding:3em;
}


//how to

.howto-title {
  display: flex;
  justify-content: center;
  margin: 3em;
}

.howto {
  .video {
    margin:1em;
  }
  h4 {
    text-align: center;
    color: $darkgray;
    font-weight: bold;
  }
  }

